{
    "openapi": "3.0.0",
    "info": {
      "title": "TinyStacks API",
      "description": "The TinyStacks API provides REST API endpoints for creating and managing Infrastructure as Code (IaC) deployments on TinyStacks. Use this API to integrate TinyStacks deployments into your existing CI/CD infrastructure. \n\n## Creating a new IaC deployment\n\nTo create a new IaC deployment, first create a new code source using the [`/infrastructure-code-sources`](#/byo-infrastructure-code/create-iac-source) method. A code source consists primarily of a Git repository, along with settings indicating which IaC toolset your deployment uses. (Currently supported toolsets are the [AWS Cloud Development Kit](https://aws.amazon.com/cdk/) and [Terraform](https://www.terraform.io/).)\n\nCreating a code source will start the initial IaC build and generate your build artifacts. To retrieve build logs for detailed error messages, use the [`/infrastructure-code-sources/logs/{sourceName}`](#/byo-infrastructure-code/get-source-logs) method.\n\nNext, create a stack and its associated stages using the [`/infrastructure-code-stacks`](#/User%20Infrastructure%20Stack/create-iac-stack) method. A stack represents a release pipeline, with each stage being a step in the pipeline. \n",
      "version": "1.0.120"
    },
    "servers": [
      {
        "url": "https://api.tinystacks.com",
        "description": "prod"
      }
    ],
    "paths": {
      "/ping": {
        "get": {
          "tags": [
            "Service Health"
          ],
          "responses": {
            "200": {
              "description": "Returns the string Healthy Connection in an HTTP 200 response"
            }
          }
        }
      },
      "/infrastructure-code-sources": {
        "get": {
          "operationId": "listIacSources",
          "tags": [
            "byo-infrastructure-code"
          ],
          "summary": "Retrieves all of the infrastructure code sources that are a part of the current group.",
          "description": "This call lists all of your current infrastructure code sources as well as their current CI/CD statuses.\n\nBy default, this method will look for a code source in your personal account. To retrieve a code source in a TinyStacks group, add the `group` header to your request. If the current user account does not have the required permissions to the specified group, the call will return an error.\n",
          "parameters": [
            {
              "name": "group",
              "in": "header",
              "required": false,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "authorization",
              "required": false,
              "in": "header",
              "schema": {
                "type": "string"
              }
            }
          ],
          "security": [
            {
              "bearerAuth": []
            },
            {
              "apiKeyAuth": []
            }
          ],
          "responses": {
            "200": {
              "description": "An array of InfrastructureCodeSource objects.",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "owner": {
                          "type": "string",
                          "description": "The TinyStacks owner ID of this code source. This may be an individual user or a group."
                        },
                        "name": {
                          "type": "string",
                          "description": "The name assigned to the code course at creation time."
                        },
                        "description": {
                          "type": "string",
                          "description": "A free-text explanation of the source."
                        },
                        "cloudProvider": {
                          "description": "The cloud platform targeted by any stacks for this code source.",
                          "type": "string",
                          "enum": [
                            "aws",
                            "gcp",
                            "azure"
                          ]
                        },
                        "diagramS3Link": {
                          "type": "string",
                          "description": "A link to your application's architecture diagram."
                        },
                        "latestVersion": {
                          "type": "string",
                          "description": "The current version of your application. Freeform and used for your team's own tracking purposes."
                        },
                        "repository": {
                          "description": "The Git repository from which to retrieve your application source code and Infrastructure as Code configuration files.",
                          "properties": {
                            "cloneUrl": {
                              "type": "string",
                              "description": "The URL used for `git clone` operations."
                            },
                            "name": {
                              "type": "string",
                              "description": "The name of the repository."
                            },
                            "defaultBranch": {
                              "type": "string",
                              "description": "The branch that is active after the repository is first cloned."
                            },
                            "owner": {
                              "type": "string",
                              "description": "The account on the Git provider that owns and administrates the repository."
                            },
                            "provider": {
                              "anyOf": [
                                {
                                  "type": "string",
                                  "enum": [
                                    "github",
                                    "gitlab"
                                  ]
                                },
                                {
                                  "type": "string"
                                }
                              ],
                              "description": "The Git host to which the repository belongs."
                            }
                          }
                        },
                        "infrastructureCodeType": {
                          "description": "The Infrastructure as Code toolset used to deploy your application and the toolset language used.",
                          "type": "object",
                          "properties": {
                            "format": {
                              "anyOf": [
                                {
                                  "type": "string",
                                  "enum": [
                                    "AWS_CDK",
                                    "TERRAFORM"
                                  ]
                                },
                                {
                                  "type": "string"
                                }
                              ]
                            },
                            "language": {
                              "anyOf": [
                                {
                                  "type": "string",
                                  "enum": [
                                    "typescript",
                                    "javascript",
                                    "python",
                                    "java",
                                    "csharp"
                                  ]
                                },
                                {
                                  "type": "string",
                                  "enum": [
                                    "hcl",
                                    "json"
                                  ]
                                },
                                {
                                  "type": "string"
                                }
                              ]
                            }
                          }
                        },
                        "accountId": {
                          "type": "string",
                          "description": "The unique ID of your cloud provider account."
                        },
                        "region": {
                          "type": "string",
                          "description": "The cloud region into which you will deploy this code source."
                        },
                        "status": {
                          "type": "string",
                          "description": "The status of your code source."
                        },
                        "ciCdInfraStatus": {
                          "type": "string",
                          "description": "The current status of your build."
                        },
                        "createdOn": {
                          "type": "string",
                          "description": "When this code source was originally created."
                        },
                        "createdBy": {
                          "type": "string",
                          "description": "The username of the TinyStacks owner who created this code source."
                        },
                        "lastModifiedOn": {
                          "type": "string",
                          "description": "When this code source was last changed."
                        },
                        "lastModifiedBy": {
                          "type": "string",
                          "description": "The username of the TinyStacks owner who last changed this code source."
                        },
                        "parameters": {
                          "type": "object",
                          "description": "Any additional input parameters to supply to the Infrastructure as Code toolset.",
                          "additionalProperties": {
                            "type": "object",
                            "properties": {
                              "propertyType": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "string",
                                    "enum": [
                                      "String",
                                      "Number",
                                      "Boolean",
                                      "Secret",
                                      "Arn",
                                      "AwsRegion",
                                      "GithubRepositoryUri",
                                      "S3Bucket",
                                      "Vpc",
                                      "Ec2InstanceType",
                                      "Map",
                                      "Integer",
                                      "NumberList",
                                      "List"
                                    ]
                                  }
                                ]
                              },
                              "value": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "number"
                                  },
                                  {
                                    "type": "integer"
                                  },
                                  {
                                    "type": "boolean"
                                  },
                                  {
                                    "type": "array",
                                    "items": {
                                      "oneOf": [
                                        {
                                          "type": "string"
                                        },
                                        {
                                          "type": "number"
                                        }
                                      ]
                                    }
                                  }
                                ]
                              },
                              "defaultValue": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "number"
                                  },
                                  {
                                    "type": "integer"
                                  },
                                  {
                                    "type": "boolean"
                                  },
                                  {
                                    "type": "array",
                                    "items": {
                                      "oneOf": [
                                        {
                                          "type": "string"
                                        },
                                        {
                                          "type": "number"
                                        }
                                      ]
                                    }
                                  }
                                ]
                              },
                              "displayName": {
                                "type": "string"
                              },
                              "description": {
                                "type": "string"
                              },
                              "required": {
                                "type": "boolean"
                              },
                              "categories": {
                                "type": "array",
                                "items": {
                                  "type": "string"
                                }
                              },
                              "validation": {
                                "anyOf": [
                                  {
                                    "type": "object",
                                    "properties": {
                                      "unit": {
                                        "type": "string"
                                      },
                                      "min": {
                                        "type": "number"
                                      },
                                      "max": {
                                        "type": "number"
                                      }
                                    }
                                  },
                                  {
                                    "type": "object",
                                    "properties": {
                                      "allowedNodesTypes": {
                                        "type": "array",
                                        "items": {
                                          "type": "string"
                                        }
                                      }
                                    }
                                  }
                                ]
                              }
                            }
                          }
                        },
                        "parameterCategories": {
                          "type": "object",
                          "description": "TBD",
                          "additionalProperties": {
                            "type": "object",
                            "properties": {
                              "displayName": {
                                "type": "string"
                              },
                              "description": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "buildDetails": {
                          "type": "object",
                          "description": "Output from the code source build for use in debugging.",
                          "additionalProperties": {
                            "type": "object",
                            "properties": {
                              "status": {
                                "type": "string"
                              },
                              "statusDetails": {
                                "type": "string"
                              },
                              "error": {
                                "type": "string"
                              },
                              "lastRunTime": {
                                "type": "number"
                              },
                              "lastSuccessfulRunTime": {
                                "type": "number"
                              }
                            }
                          }
                        },
                        "stackCount": {
                          "type": "number",
                          "description": "How many stacks exist that use this code source."
                        },
                        "requirements": {
                          "type": "array",
                          "description": "An array of cloud provider quotas and capabilities the application requires to install and run.",
                          "items": {
                            "anyOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "quotaId": {
                                    "type": "string",
                                    "enum": [
                                      "AWS_VPC",
                                      "AWS_EIP"
                                    ],
                                    "x-enum-varnames": [
                                      "AWS_VPC",
                                      "AWS_EIP"
                                    ]
                                  },
                                  "count": {
                                    "type": "number"
                                  }
                                }
                              }
                            ]
                          }
                        }
                      }
                    }
                  }
                }
              }
            },
            "default": {
              "description": "The specified resource was not found",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "default": "TinyStacksError"
                      },
                      "message": {
                        "type": "string"
                      },
                      "status": {
                        "type": "number"
                      },
                      "stack": {
                        "type": "string"
                      },
                      "type": {
                        "anyOf": [
                          {
                            "type": "string",
                            "enum": [
                              "Unauthorized",
                              "Unauthenticated",
                              "Validation",
                              "NotFound",
                              "Conflict",
                              "InternalServerError"
                            ]
                          },
                          {
                            "type": "string"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "post": {
          "operationId": "createIacSource",
          "tags": [
            "byo-infrastructure-code"
          ],
          "summary": "Creates a new code source.",
          "description": "This call initializes the new code source, creates the CI/CD process for the specified infrastructure code type, and starts the first build. The result is a set of build artifacts. Use a GET call to [/infrastructure-code-sources](#/byo-infrastructure-code/list-iac-sources) to get the current status of the build from the `ciCdInfraStatus` parameter. \n\nOnce you have initialized a new source, you can create one or more stacks with a POST to the [/infrastructure-code-stacks](#/byo-infrastructure-code/createIacStack) method.\n\nA code source must target a specific cloud provider. To create multi-cloud deployments with the same code base, make separate calls to this method with different values for the `cloudProvider` parameter. \n\nBy default, this method will look for a code source in your personal account. To retrieve a code source in a TinyStacks group, add the `group` header to your request. If the current user account does not have the required permissions to the specified group, the call will return an error.\n\n### Example request payload\n\n```json\n{\n    \"name\": \"test-demo\",\n    \"description\": \"A demo code source\",\n  \"region\": \"us-east-2\",\n    \"cloudProvider\": \"aws\",\n  \"repository\": {\n    \"cloneUrl\": \"https://github.com/tinystacks/awscdk-samples-eks-rds.git\",\n    \"defaultBranch\": \"main\",\n    \"name\": \"awscdk-samples-eks-rds\",\n    \"provider\": \"github\",\n    \"owner\": \"tinystacks\"\n  },\n  \"parameters\": {\n    \"TEST_KEY\": {\n      \"displayName\": \"test title\",\n      \"propertyType\": \"String\",\n      \"defaultValue\": \"some random value\",\n      \"description\": \"Fill this out to do nothing\",\n      \"required\": true\n    }\n  },\n  \"infrastructureCodeType\": {\n    \"format\": \"AWS_CDK\",\n    \"language\": \"typescript\"\n  }\n}\n```\n\n### Example cUrl command\n\n```bash\ncurl https://api.tinystacks.com/infrastructure-code-source/ -H \"Content-Type: application/json\" -H \"Authorization: Bearer XXXX\" -d @payload.json\n```        \n",
          "parameters": [
            {
              "name": "group",
              "in": "header",
              "required": false,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "authorization",
              "required": false,
              "in": "header",
              "schema": {
                "type": "string"
              }
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "owner": {
                      "type": "string",
                      "description": "The TinyStacks owner ID of this code source. This may be an individual user or a group."
                    },
                    "name": {
                      "type": "string",
                      "description": "The name assigned to the code course at creation time."
                    },
                    "description": {
                      "type": "string",
                      "description": "A free-text explanation of the source."
                    },
                    "cloudProvider": {
                      "description": "The cloud platform targeted by any stacks for this code source.",
                      "type": "string",
                      "enum": [
                        "aws",
                        "gcp",
                        "azure"
                      ]
                    },
                    "diagramS3Link": {
                      "type": "string",
                      "description": "A link to your application's architecture diagram."
                    },
                    "latestVersion": {
                      "type": "string",
                      "description": "The current version of your application. Freeform and used for your team's own tracking purposes."
                    },
                    "repository": {
                      "description": "The Git repository from which to retrieve your application source code and Infrastructure as Code configuration files.",
                      "properties": {
                        "cloneUrl": {
                          "type": "string",
                          "description": "The URL used for `git clone` operations."
                        },
                        "name": {
                          "type": "string",
                          "description": "The name of the repository."
                        },
                        "defaultBranch": {
                          "type": "string",
                          "description": "The branch that is active after the repository is first cloned."
                        },
                        "owner": {
                          "type": "string",
                          "description": "The account on the Git provider that owns and administrates the repository."
                        },
                        "provider": {
                          "anyOf": [
                            {
                              "type": "string",
                              "enum": [
                                "github",
                                "gitlab"
                              ]
                            },
                            {
                              "type": "string"
                            }
                          ],
                          "description": "The Git host to which the repository belongs."
                        }
                      }
                    },
                    "infrastructureCodeType": {
                      "description": "The Infrastructure as Code toolset used to deploy your application and the toolset language used.",
                      "type": "object",
                      "properties": {
                        "format": {
                          "anyOf": [
                            {
                              "type": "string",
                              "enum": [
                                "AWS_CDK",
                                "TERRAFORM"
                              ]
                            },
                            {
                              "type": "string"
                            }
                          ]
                        },
                        "language": {
                          "anyOf": [
                            {
                              "type": "string",
                              "enum": [
                                "typescript",
                                "javascript",
                                "python",
                                "java",
                                "csharp"
                              ]
                            },
                            {
                              "type": "string",
                              "enum": [
                                "hcl",
                                "json"
                              ]
                            },
                            {
                              "type": "string"
                            }
                          ]
                        }
                      }
                    },
                    "accountId": {
                      "type": "string",
                      "description": "The unique ID of your cloud provider account."
                    },
                    "region": {
                      "type": "string",
                      "description": "The cloud region into which you will deploy this code source."
                    },
                    "status": {
                      "type": "string",
                      "description": "The status of your code source."
                    },
                    "ciCdInfraStatus": {
                      "type": "string",
                      "description": "The current status of your build."
                    },
                    "createdOn": {
                      "type": "string",
                      "description": "When this code source was originally created."
                    },
                    "createdBy": {
                      "type": "string",
                      "description": "The username of the TinyStacks owner who created this code source."
                    },
                    "lastModifiedOn": {
                      "type": "string",
                      "description": "When this code source was last changed."
                    },
                    "lastModifiedBy": {
                      "type": "string",
                      "description": "The username of the TinyStacks owner who last changed this code source."
                    },
                    "parameters": {
                      "type": "object",
                      "description": "Any additional input parameters to supply to the Infrastructure as Code toolset.",
                      "additionalProperties": {
                        "type": "object",
                        "properties": {
                          "propertyType": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "string",
                                "enum": [
                                  "String",
                                  "Number",
                                  "Boolean",
                                  "Secret",
                                  "Arn",
                                  "AwsRegion",
                                  "GithubRepositoryUri",
                                  "S3Bucket",
                                  "Vpc",
                                  "Ec2InstanceType",
                                  "Map",
                                  "Integer",
                                  "NumberList",
                                  "List"
                                ]
                              }
                            ]
                          },
                          "value": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "number"
                              },
                              {
                                "type": "integer"
                              },
                              {
                                "type": "boolean"
                              },
                              {
                                "type": "array",
                                "items": {
                                  "oneOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "number"
                                    }
                                  ]
                                }
                              }
                            ]
                          },
                          "defaultValue": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "number"
                              },
                              {
                                "type": "integer"
                              },
                              {
                                "type": "boolean"
                              },
                              {
                                "type": "array",
                                "items": {
                                  "oneOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "number"
                                    }
                                  ]
                                }
                              }
                            ]
                          },
                          "displayName": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "required": {
                            "type": "boolean"
                          },
                          "categories": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "validation": {
                            "anyOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "unit": {
                                    "type": "string"
                                  },
                                  "min": {
                                    "type": "number"
                                  },
                                  "max": {
                                    "type": "number"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "allowedNodesTypes": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  }
                                }
                              }
                            ]
                          }
                        }
                      }
                    },
                    "parameterCategories": {
                      "type": "object",
                      "description": "TBD",
                      "additionalProperties": {
                        "type": "object",
                        "properties": {
                          "displayName": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "buildDetails": {
                      "type": "object",
                      "description": "Output from the code source build for use in debugging.",
                      "additionalProperties": {
                        "type": "object",
                        "properties": {
                          "status": {
                            "type": "string"
                          },
                          "statusDetails": {
                            "type": "string"
                          },
                          "error": {
                            "type": "string"
                          },
                          "lastRunTime": {
                            "type": "number"
                          },
                          "lastSuccessfulRunTime": {
                            "type": "number"
                          }
                        }
                      }
                    },
                    "stackCount": {
                      "type": "number",
                      "description": "How many stacks exist that use this code source."
                    },
                    "requirements": {
                      "type": "array",
                      "description": "An array of cloud provider quotas and capabilities the application requires to install and run.",
                      "items": {
                        "anyOf": [
                          {
                            "type": "object",
                            "properties": {
                              "quotaId": {
                                "type": "string",
                                "enum": [
                                  "AWS_VPC",
                                  "AWS_EIP"
                                ],
                                "x-enum-varnames": [
                                  "AWS_VPC",
                                  "AWS_EIP"
                                ]
                              },
                              "count": {
                                "type": "number"
                              }
                            }
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "security": [
            {
              "bearerAuth": []
            },
            {
              "apiKeyAuth": []
            }
          ],
          "responses": {
            "201": {
              "description": "The code source as an `InfrastructureCodeSource` JSON object.",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "owner": {
                        "type": "string",
                        "description": "The TinyStacks owner ID of this code source. This may be an individual user or a group."
                      },
                      "name": {
                        "type": "string",
                        "description": "The name assigned to the code course at creation time."
                      },
                      "description": {
                        "type": "string",
                        "description": "A free-text explanation of the source."
                      },
                      "cloudProvider": {
                        "description": "The cloud platform targeted by any stacks for this code source.",
                        "type": "string",
                        "enum": [
                          "aws",
                          "gcp",
                          "azure"
                        ]
                      },
                      "diagramS3Link": {
                        "type": "string",
                        "description": "A link to your application's architecture diagram."
                      },
                      "latestVersion": {
                        "type": "string",
                        "description": "The current version of your application. Freeform and used for your team's own tracking purposes."
                      },
                      "repository": {
                        "description": "The Git repository from which to retrieve your application source code and Infrastructure as Code configuration files.",
                        "properties": {
                          "cloneUrl": {
                            "type": "string",
                            "description": "The URL used for `git clone` operations."
                          },
                          "name": {
                            "type": "string",
                            "description": "The name of the repository."
                          },
                          "defaultBranch": {
                            "type": "string",
                            "description": "The branch that is active after the repository is first cloned."
                          },
                          "owner": {
                            "type": "string",
                            "description": "The account on the Git provider that owns and administrates the repository."
                          },
                          "provider": {
                            "anyOf": [
                              {
                                "type": "string",
                                "enum": [
                                  "github",
                                  "gitlab"
                                ]
                              },
                              {
                                "type": "string"
                              }
                            ],
                            "description": "The Git host to which the repository belongs."
                          }
                        }
                      },
                      "infrastructureCodeType": {
                        "description": "The Infrastructure as Code toolset used to deploy your application and the toolset language used.",
                        "type": "object",
                        "properties": {
                          "format": {
                            "anyOf": [
                              {
                                "type": "string",
                                "enum": [
                                  "AWS_CDK",
                                  "TERRAFORM"
                                ]
                              },
                              {
                                "type": "string"
                              }
                            ]
                          },
                          "language": {
                            "anyOf": [
                              {
                                "type": "string",
                                "enum": [
                                  "typescript",
                                  "javascript",
                                  "python",
                                  "java",
                                  "csharp"
                                ]
                              },
                              {
                                "type": "string",
                                "enum": [
                                  "hcl",
                                  "json"
                                ]
                              },
                              {
                                "type": "string"
                              }
                            ]
                          }
                        }
                      },
                      "accountId": {
                        "type": "string",
                        "description": "The unique ID of your cloud provider account."
                      },
                      "region": {
                        "type": "string",
                        "description": "The cloud region into which you will deploy this code source."
                      },
                      "status": {
                        "type": "string",
                        "description": "The status of your code source."
                      },
                      "ciCdInfraStatus": {
                        "type": "string",
                        "description": "The current status of your build."
                      },
                      "createdOn": {
                        "type": "string",
                        "description": "When this code source was originally created."
                      },
                      "createdBy": {
                        "type": "string",
                        "description": "The username of the TinyStacks owner who created this code source."
                      },
                      "lastModifiedOn": {
                        "type": "string",
                        "description": "When this code source was last changed."
                      },
                      "lastModifiedBy": {
                        "type": "string",
                        "description": "The username of the TinyStacks owner who last changed this code source."
                      },
                      "parameters": {
                        "type": "object",
                        "description": "Any additional input parameters to supply to the Infrastructure as Code toolset.",
                        "additionalProperties": {
                          "type": "object",
                          "properties": {
                            "propertyType": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "string",
                                  "enum": [
                                    "String",
                                    "Number",
                                    "Boolean",
                                    "Secret",
                                    "Arn",
                                    "AwsRegion",
                                    "GithubRepositoryUri",
                                    "S3Bucket",
                                    "Vpc",
                                    "Ec2InstanceType",
                                    "Map",
                                    "Integer",
                                    "NumberList",
                                    "List"
                                  ]
                                }
                              ]
                            },
                            "value": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "number"
                                },
                                {
                                  "type": "integer"
                                },
                                {
                                  "type": "boolean"
                                },
                                {
                                  "type": "array",
                                  "items": {
                                    "oneOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "number"
                                      }
                                    ]
                                  }
                                }
                              ]
                            },
                            "defaultValue": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "number"
                                },
                                {
                                  "type": "integer"
                                },
                                {
                                  "type": "boolean"
                                },
                                {
                                  "type": "array",
                                  "items": {
                                    "oneOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "number"
                                      }
                                    ]
                                  }
                                }
                              ]
                            },
                            "displayName": {
                              "type": "string"
                            },
                            "description": {
                              "type": "string"
                            },
                            "required": {
                              "type": "boolean"
                            },
                            "categories": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "validation": {
                              "anyOf": [
                                {
                                  "type": "object",
                                  "properties": {
                                    "unit": {
                                      "type": "string"
                                    },
                                    "min": {
                                      "type": "number"
                                    },
                                    "max": {
                                      "type": "number"
                                    }
                                  }
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "allowedNodesTypes": {
                                      "type": "array",
                                      "items": {
                                        "type": "string"
                                      }
                                    }
                                  }
                                }
                              ]
                            }
                          }
                        }
                      },
                      "parameterCategories": {
                        "type": "object",
                        "description": "TBD",
                        "additionalProperties": {
                          "type": "object",
                          "properties": {
                            "displayName": {
                              "type": "string"
                            },
                            "description": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "buildDetails": {
                        "type": "object",
                        "description": "Output from the code source build for use in debugging.",
                        "additionalProperties": {
                          "type": "object",
                          "properties": {
                            "status": {
                              "type": "string"
                            },
                            "statusDetails": {
                              "type": "string"
                            },
                            "error": {
                              "type": "string"
                            },
                            "lastRunTime": {
                              "type": "number"
                            },
                            "lastSuccessfulRunTime": {
                              "type": "number"
                            }
                          }
                        }
                      },
                      "stackCount": {
                        "type": "number",
                        "description": "How many stacks exist that use this code source."
                      },
                      "requirements": {
                        "type": "array",
                        "description": "An array of cloud provider quotas and capabilities the application requires to install and run.",
                        "items": {
                          "anyOf": [
                            {
                              "type": "object",
                              "properties": {
                                "quotaId": {
                                  "type": "string",
                                  "enum": [
                                    "AWS_VPC",
                                    "AWS_EIP"
                                  ],
                                  "x-enum-varnames": [
                                    "AWS_VPC",
                                    "AWS_EIP"
                                  ]
                                },
                                "count": {
                                  "type": "number"
                                }
                              }
                            }
                          ]
                        }
                      }
                    }
                  }
                }
              }
            },
            "409": {
              "description": "A code source with the supplied named already exists.",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "default": "TinyStacksError"
                      },
                      "message": {
                        "type": "string"
                      },
                      "status": {
                        "type": "number"
                      },
                      "stack": {
                        "type": "string"
                      },
                      "type": {
                        "anyOf": [
                          {
                            "type": "string",
                            "enum": [
                              "Unauthorized",
                              "Unauthenticated",
                              "Validation",
                              "NotFound",
                              "Conflict",
                              "InternalServerError"
                            ]
                          },
                          {
                            "type": "string"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            },
            "default": {
              "description": "The specified resource was not found",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "default": "TinyStacksError"
                      },
                      "message": {
                        "type": "string"
                      },
                      "status": {
                        "type": "number"
                      },
                      "stack": {
                        "type": "string"
                      },
                      "type": {
                        "anyOf": [
                          {
                            "type": "string",
                            "enum": [
                              "Unauthorized",
                              "Unauthenticated",
                              "Validation",
                              "NotFound",
                              "Conflict",
                              "InternalServerError"
                            ]
                          },
                          {
                            "type": "string"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "/infrastructure-code-sources/{sourceName}": {
        "get": {
          "operationId": "getIacSource",
          "tags": [
            "byo-infrastructure-code"
          ],
          "summary": "Retrieves information for the specified code source.",
          "description": "Use this method to obtain information such as current CI/CD build status for a specific code source.\n\nBy default, this method will look for a code source in your personal account. To retrieve a code source in a TinyStacks group, add the `group` header to your request. If the current user account does not have the required permissions to the specified group, the call will return an error.\n\n### Example cUrl request\n\n```bash\ncurl https://api.tinystacks.com/infrastructure-code-sources/test-demo -X DELETE -H \"Content-Type: application/json\" -H \"Authorization: Bearer $BEARER\"\n```\n",
          "parameters": [
            {
              "name": "group",
              "in": "header",
              "required": false,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "sourceName",
              "in": "path",
              "description": "BYO IaC source name",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "authorization",
              "required": false,
              "in": "header",
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "version",
              "in": "query",
              "required": false,
              "schema": {
                "type": "string"
              }
            }
          ],
          "security": [
            {
              "bearerAuth": []
            },
            {
              "apiKeyAuth": []
            }
          ],
          "responses": {
            "200": {
              "description": "An InfrastructureCodeSource object describing the source.",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "owner": {
                        "type": "string",
                        "description": "The TinyStacks owner ID of this code source. This may be an individual user or a group."
                      },
                      "name": {
                        "type": "string",
                        "description": "The name assigned to the code course at creation time."
                      },
                      "description": {
                        "type": "string",
                        "description": "A free-text explanation of the source."
                      },
                      "cloudProvider": {
                        "description": "The cloud platform targeted by any stacks for this code source.",
                        "type": "string",
                        "enum": [
                          "aws",
                          "gcp",
                          "azure"
                        ]
                      },
                      "diagramS3Link": {
                        "type": "string",
                        "description": "A link to your application's architecture diagram."
                      },
                      "latestVersion": {
                        "type": "string",
                        "description": "The current version of your application. Freeform and used for your team's own tracking purposes."
                      },
                      "repository": {
                        "description": "The Git repository from which to retrieve your application source code and Infrastructure as Code configuration files.",
                        "properties": {
                          "cloneUrl": {
                            "type": "string",
                            "description": "The URL used for `git clone` operations."
                          },
                          "name": {
                            "type": "string",
                            "description": "The name of the repository."
                          },
                          "defaultBranch": {
                            "type": "string",
                            "description": "The branch that is active after the repository is first cloned."
                          },
                          "owner": {
                            "type": "string",
                            "description": "The account on the Git provider that owns and administrates the repository."
                          },
                          "provider": {
                            "anyOf": [
                              {
                                "type": "string",
                                "enum": [
                                  "github",
                                  "gitlab"
                                ]
                              },
                              {
                                "type": "string"
                              }
                            ],
                            "description": "The Git host to which the repository belongs."
                          }
                        }
                      },
                      "infrastructureCodeType": {
                        "description": "The Infrastructure as Code toolset used to deploy your application and the toolset language used.",
                        "type": "object",
                        "properties": {
                          "format": {
                            "anyOf": [
                              {
                                "type": "string",
                                "enum": [
                                  "AWS_CDK",
                                  "TERRAFORM"
                                ]
                              },
                              {
                                "type": "string"
                              }
                            ]
                          },
                          "language": {
                            "anyOf": [
                              {
                                "type": "string",
                                "enum": [
                                  "typescript",
                                  "javascript",
                                  "python",
                                  "java",
                                  "csharp"
                                ]
                              },
                              {
                                "type": "string",
                                "enum": [
                                  "hcl",
                                  "json"
                                ]
                              },
                              {
                                "type": "string"
                              }
                            ]
                          }
                        }
                      },
                      "accountId": {
                        "type": "string",
                        "description": "The unique ID of your cloud provider account."
                      },
                      "region": {
                        "type": "string",
                        "description": "The cloud region into which you will deploy this code source."
                      },
                      "status": {
                        "type": "string",
                        "description": "The status of your code source."
                      },
                      "ciCdInfraStatus": {
                        "type": "string",
                        "description": "The current status of your build."
                      },
                      "createdOn": {
                        "type": "string",
                        "description": "When this code source was originally created."
                      },
                      "createdBy": {
                        "type": "string",
                        "description": "The username of the TinyStacks owner who created this code source."
                      },
                      "lastModifiedOn": {
                        "type": "string",
                        "description": "When this code source was last changed."
                      },
                      "lastModifiedBy": {
                        "type": "string",
                        "description": "The username of the TinyStacks owner who last changed this code source."
                      },
                      "parameters": {
                        "type": "object",
                        "description": "Any additional input parameters to supply to the Infrastructure as Code toolset.",
                        "additionalProperties": {
                          "type": "object",
                          "properties": {
                            "propertyType": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "string",
                                  "enum": [
                                    "String",
                                    "Number",
                                    "Boolean",
                                    "Secret",
                                    "Arn",
                                    "AwsRegion",
                                    "GithubRepositoryUri",
                                    "S3Bucket",
                                    "Vpc",
                                    "Ec2InstanceType",
                                    "Map",
                                    "Integer",
                                    "NumberList",
                                    "List"
                                  ]
                                }
                              ]
                            },
                            "value": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "number"
                                },
                                {
                                  "type": "integer"
                                },
                                {
                                  "type": "boolean"
                                },
                                {
                                  "type": "array",
                                  "items": {
                                    "oneOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "number"
                                      }
                                    ]
                                  }
                                }
                              ]
                            },
                            "defaultValue": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "number"
                                },
                                {
                                  "type": "integer"
                                },
                                {
                                  "type": "boolean"
                                },
                                {
                                  "type": "array",
                                  "items": {
                                    "oneOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "number"
                                      }
                                    ]
                                  }
                                }
                              ]
                            },
                            "displayName": {
                              "type": "string"
                            },
                            "description": {
                              "type": "string"
                            },
                            "required": {
                              "type": "boolean"
                            },
                            "categories": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "validation": {
                              "anyOf": [
                                {
                                  "type": "object",
                                  "properties": {
                                    "unit": {
                                      "type": "string"
                                    },
                                    "min": {
                                      "type": "number"
                                    },
                                    "max": {
                                      "type": "number"
                                    }
                                  }
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "allowedNodesTypes": {
                                      "type": "array",
                                      "items": {
                                        "type": "string"
                                      }
                                    }
                                  }
                                }
                              ]
                            }
                          }
                        }
                      },
                      "parameterCategories": {
                        "type": "object",
                        "description": "TBD",
                        "additionalProperties": {
                          "type": "object",
                          "properties": {
                            "displayName": {
                              "type": "string"
                            },
                            "description": {
                              "type": "string"
                            }
                          }
                        }
                      },
                      "buildDetails": {
                        "type": "object",
                        "description": "Output from the code source build for use in debugging.",
                        "additionalProperties": {
                          "type": "object",
                          "properties": {
                            "status": {
                              "type": "string"
                            },
                            "statusDetails": {
                              "type": "string"
                            },
                            "error": {
                              "type": "string"
                            },
                            "lastRunTime": {
                              "type": "number"
                            },
                            "lastSuccessfulRunTime": {
                              "type": "number"
                            }
                          }
                        }
                      },
                      "stackCount": {
                        "type": "number",
                        "description": "How many stacks exist that use this code source."
                      },
                      "requirements": {
                        "type": "array",
                        "description": "An array of cloud provider quotas and capabilities the application requires to install and run.",
                        "items": {
                          "anyOf": [
                            {
                              "type": "object",
                              "properties": {
                                "quotaId": {
                                  "type": "string",
                                  "enum": [
                                    "AWS_VPC",
                                    "AWS_EIP"
                                  ],
                                  "x-enum-varnames": [
                                    "AWS_VPC",
                                    "AWS_EIP"
                                  ]
                                },
                                "count": {
                                  "type": "number"
                                }
                              }
                            }
                          ]
                        }
                      }
                    }
                  }
                }
              }
            },
            "default": {
              "description": "The specified resource was not found",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "default": "TinyStacksError"
                      },
                      "message": {
                        "type": "string"
                      },
                      "status": {
                        "type": "number"
                      },
                      "stack": {
                        "type": "string"
                      },
                      "type": {
                        "anyOf": [
                          {
                            "type": "string",
                            "enum": [
                              "Unauthorized",
                              "Unauthenticated",
                              "Validation",
                              "NotFound",
                              "Conflict",
                              "InternalServerError"
                            ]
                          },
                          {
                            "type": "string"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "put": {
          "operationId": "updateIacSource",
          "tags": [
            "byo-infrastructure-code"
          ],
          "summary": "Updates a code source and triggers a new build.",
          "description": "By default, this method will look for a code source in your personal account. To retrieve a code source in a TinyStacks group, add the `group` header to your request. If the current user account does not have the required permissions to the specified group, the call will return an error.\n\n### Example cUrl request\n\n```bash\ncurl https://api.tinystacks.com/infrastructure-code-source/test-demo -H \"Content-Type: application/json\" -H \"Authorization: Bearer XXXX\"\n```        \n",
          "parameters": [
            {
              "name": "group",
              "in": "header",
              "required": false,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "sourceName",
              "in": "path",
              "description": "BYO IaC source name",
              "required": true,
              "schema": {
                "type": "string"
              }
            },
            {
              "name": "authorization",
              "required": false,
              "in": "header",
              "schema": {
                "type": "string"
              }
            }
          ],
          "requestBody": {
            "required": true,
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "owner": {
                      "type": "string",
                      "description": "The TinyStacks owner ID of this code source. This may be an individual user or a group."
                    },
                    "name": {
                      "type": "string",
                      "description": "The name assigned to the code course at creation time."
                    },
                    "description": {
                      "type": "string",
                      "description": "A free-text explanation of the source."
                    },
                    "cloudProvider": {
                      "description": "The cloud platform targeted by any stacks for this code source.",
                      "type": "string",
                      "enum": [
                        "aws",
                        "gcp",
                        "azure"
                      ]
                    },
                    "diagramS3Link": {
                      "type": "string",
                      "description": "A link to your application's architecture diagram."
                    },
                    "latestVersion": {
                      "type": "string",
                      "description": "The current version of your application. Freeform and used for your team's own tracking purposes."
                    },
                    "repository": {
                      "description": "The Git repository from which to retrieve your application source code and Infrastructure as Code configuration files.",
                      "properties": {
                        "cloneUrl": {
                          "type": "string",
                          "description": "The URL used for `git clone` operations."
                        },
                        "name": {
                          "type": "string",
                          "description": "The name of the repository."
                        },
                        "defaultBranch": {
                          "type": "string",
                          "description": "The branch that is active after the repository is first cloned."
                        },
                        "owner": {
                          "type": "string",
                          "description": "The account on the Git provider that owns and administrates the repository."
                        },
                        "provider": {
                          "anyOf": [
                            {
                              "type": "string",
                              "enum": [
                                "github",
                                "gitlab"
                              ]
                            },
                            {
                              "type": "string"
                            }
                          ],
                          "description": "The Git host to which the repository belongs."
                        }
                      }
                    },
                    "infrastructureCodeType": {
                      "description": "The Infrastructure as Code toolset used to deploy your application and the toolset language used.",
                      "type": "object",
                      "properties": {
                        "format": {
                          "anyOf": [
                            {
                              "type": "string",
                              "enum": [
                                "AWS_CDK",
                                "TERRAFORM"
                              ]
                            },
                            {
                              "type": "string"
                            }
                          ]
                        },
                        "language": {
                          "anyOf": [
                            {
                              "type": "string",
                              "enum": [
                                "typescript",
                                "javascript",
                                "python",
                                "java",
                                "csharp"
                              ]
                            },
                            {
                              "type": "string",
                              "enum": [
                                "hcl",
                                "json"
                              ]
                            },
                            {
                              "type": "string"
                            }
                          ]
                        }
                      }
                    },
                    "accountId": {
                      "type": "string",
                      "description": "The unique ID of your cloud provider account."
                    },
                    "region": {
                      "type": "string",
                      "description": "The cloud region into which you will deploy this code source."
                    },
                    "status": {
                      "type": "string",
                      "description": "The status of your code source."
                    },
                    "ciCdInfraStatus": {
                      "type": "string",
                      "description": "The current status of your build."
                    },
                    "createdOn": {
                      "type": "string",
                      "description": "When this code source was originally created."
                    },
                    "createdBy": {
                      "type": "string",
                      "description": "The username of the TinyStacks owner who created this code source."
                    },
                    "lastModifiedOn": {
                      "type": "string",
                      "description": "When this code source was last changed."
                    },
                    "lastModifiedBy": {
                      "type": "string",
                      "description": "The username of the TinyStacks owner who last changed this code source."
                    },
                    "parameters": {
                      "type": "object",
                      "description": "Any additional input parameters to supply to the Infrastructure as Code toolset.",
                      "additionalProperties": {
                        "type": "object",
                        "properties": {
                          "propertyType": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "string",
                                "enum": [
                                  "String",
                                  "Number",
                                  "Boolean",
                                  "Secret",
                                  "Arn",
                                  "AwsRegion",
                                  "GithubRepositoryUri",
                                  "S3Bucket",
                                  "Vpc",
                                  "Ec2InstanceType",
                                  "Map",
                                  "Integer",
                                  "NumberList",
                                  "List"
                                ]
                              }
                            ]
                          },
                          "value": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "number"
                              },
                              {
                                "type": "integer"
                              },
                              {
                                "type": "boolean"
                              },
                              {
                                "type": "array",
                                "items": {
                                  "oneOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "number"
                                    }
                                  ]
                                }
                              }
                            ]
                          },
                          "defaultValue": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "number"
                              },
                              {
                                "type": "integer"
                              },
                              {
                                "type": "boolean"
                              },
                              {
                                "type": "array",
                                "items": {
                                  "oneOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "number"
                                    }
                                  ]
                                }
                              }
                            ]
                          },
                          "displayName": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "required": {
                            "type": "boolean"
                          },
                          "categories": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "validation": {
                            "anyOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "unit": {
                                    "type": "string"
                                  },
                                  "min": {
                                    "type": "number"
                                  },
                                  "max": {
                                    "type": "number"
                                  }
                                }
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "allowedNodesTypes": {
                                    "type": "array",
                                    "items": {
                                      "type": "string"
                                    }
                                  }
                                }
                              }
                            ]
                          }
                        }
                      }
                    },
                    "parameterCategories": {
                      "type": "object",
                      "description": "TBD",
                      "additionalProperties": {
                        "type": "object",
                        "properties": {
                          "displayName": {
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "buildDetails": {
                      "type": "object",
                      "description": "Output from the code source build for use in debugging.",
                      "additionalProperties": {
                        "type": "object",
                        "properties": {
                          "status": {
                            "type": "string"
                          },
                          "statusDetails": {
                            "type": "string"
                          },
                          "error": {
                            "type": "string"
                          },
                          "lastRunTime": {
                            "type": "number"
                          },
                          "lastSuccessfulRunTime": {
                            "type": "number"
                          }
                        }
                      }
                    },
                    "stackCount": {
                      "type": "number",
                      "description": "How many stacks exist that use this code source."
                    },
                    "requirements": {
                      "type": "array",
                      "description": "An array of cloud provider quotas and capabilities the application requires to install and run.",
                      "items": {
                        "anyOf": [
                          {
                            "type": "object",
                            "properties": {
                              "quotaId": {
                                "type": "string",
                                "enum": [
                                  "AWS_VPC",
                                  "AWS_EIP"
                                ],
                                "x-enum-varnames": [
                                  "AWS_VPC",
                                  "AWS_EIP"
                                ]
                              },
                              "count": {
                                "type": "number"
                              }
                            }
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          },
          "security": [
            {
              "bearerAuth": []
            },
            {
              "apiKeyAuth": []
            }
          ],
          "responses": {
            "202": {
              "description": "A confirmation that updates have been applied and an `InfrastructureCodeSource` object containing the changes.",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "owner": {
                        "type": "string",
                        "description": "The TinyStacks owner ID of this code source. This may be an individual user or a group."
                      },
                      "name": {
                        "type": "string",
                        "description": "The name assigned to the code course at creation time."
                      },
                      "description": {
                        "type": "string",
                        "description": "A free-text explanation of the source."
                      },
                      "cloudProvider": {
                        "description": "The cloud platform targeted by any stacks for this code source.",
                        "type": "string",
                        "enum": [
                          "aws",
                          "gcp",
                          "azure"
                        ]
                      },
                      "diagramS3Link": {
                        "type": "string",
                        "description": "A link to your application's architecture diagram."
                      },
                      "latestVersion": {
                        "type": "string",
                        "description": "The current version of your application. Freeform and used for your team's own tracking purposes."
                      },
                      "repository": {
                        "description": "The Git repository from which to retrieve your application source code and Infrastructure as Code configuration files.",
                        "properties": {
                          "cloneUrl": {
                            "type": "string",
                            "description": "The URL used for `git clone` operations."
                          },
                          "name": {
                            "type": "string",
                            "description": "The name of the repository."
                          },
                          "defaultBranch": {
                            "type": "string",
                            "description": "The branch that is active after the repository is first cloned."
                          },
                          "owner": {
                            "type": "string",
                            "description": "The account on the Git provider that owns and administrates the repository."
                          },
                          "provider": {
                            "anyOf": [
                              {
                                "type": "string",
                                "enum": [
                                  "github",
                                  "gitlab"
                                ]
                              },
                              {
                                "type": "string"
                              }
                            ],
                            "description": "The Git host to which the repository belongs."
                          }
                        }
                      },
                      "infrastructureCodeType": {
                        "description": "The Infrastructure as Code toolset used to deploy your application and the toolset language used.",
                        "type": "object",
                        "properties": {
                          "format": {
                            "anyOf": [
                              {
                                "type": "string",
                                "enum": [
                                  "AWS_CDK",
                                  "TERRAFORM"
                                ]
                              },
                              {
                                "type": "string"
                              }
                            ]
                          },
                          "language": {
                            "anyOf": [
                              {
                                "type": "string",
                                "enum": [
                                  "typescript",
                                  "javascript",
                                  "python",
                                  "java",
                                  "csharp"
                                ]
                              },
                              {
                                "type": "string",
                                "enum": [
                                  "hcl",
                                  "json"
                                ]
                              },
                              {
                                "type": "string"
                              }
                            ]
                          }
                        }
                      },
                      "accountId": {
                        "type": "string",
                        "description": "The unique ID of your cloud provider account."
                      },
                      "region": {
                        "type": "string",
                        "description": "The cloud region into which you will deploy this code source."
                      },
                      "status": {
                        "type": "string",
                        "description": "The status of your code source."
                      },
                      "ciCdInfraStatus": {
                        "type": "string",
                        "description": "The current status of your build."
                      },
                      "createdOn": {
                        "type": "string",
                        "description": "When this code source was originally created."
                      },
                      "createdBy": {
                        "type": "string",
                        "description": "The username of the TinyStacks owner who created this code source."
                      },
                      "lastModifiedOn": {
                        "type": "string",
                        "description": "When this code source was last changed."
                      },
                      "lastModifiedBy": {
                        "type": "string",
[...]
